@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container-nav {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1400px;
}